.site-wrapper2 {
  background-image: url(../starss.png);
  width: 100%;
  height: 70rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  justify-content: center;
}

.planet-blue {
  position: absolute;
  background-color: #428dd43b;
  height: 59rem;
  width: 45rem;
  border-radius: 99%;
  left: -35rem;
}

.planet-blue2 {
  position: relative;
  background-color: rgba(38, 80, 121, 0.384);
  height: 59rem;
  width: 45rem;
  border-radius: 99%;
  left: -70rem;
  cursor: pointer;
  box-shadow: 10px 10px 40px rgba(19, 35, 88, 0.7);
}

.planet-blue3 {
  position: absolute;
  background-color: #428ed4;
  height: 59rem;
  width: 59rem;
  border-radius: 99%;
  left: -52rem;
}

.planet-blue2:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 40px rgba(87, 111, 230, 0.555);
  transition: transform 0.8s ease, box-shadow 0.5s ease;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 38%;
  max-height: 100vh;
  margin-left: -45rem;
}

.planet-info-part {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.info-header {
  font-family: "Secular One";
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.main-text {
  font-family: "Roboto Condensed";
  color: aliceblue;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-y: auto;
  max-height: 16rem;
}

.info-text {
  font-family: "Roboto Condensed";
  color: aliceblue;
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: -1rem;
  letter-spacing: 0.2rem;
}

.data-info {
  display: grid;
  grid-template-columns: repeat(2, 16rem);
}

.line {
  display: flex;
  width: 45rem;
  border-radius: 99rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.382);
}

.moon-info-con {
  display: grid;
  grid-column: 1;
}

.info-moon {
  overflow: auto;
}

.info-moon::-webkit-scrollbar {
  height: 12px;
}

.info-moon::-webkit-scrollbar-thumb {
  background: #304976ad;
  border-radius: 2px;
}

.info-moon::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.main-text::-webkit-scrollbar {
  width: 0.8rem;
}

.main-text::-webkit-scrollbar-thumb {
  background: #304976ad;
  border-radius: 2px;
}

.main-text::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

@media (max-width: 1600px) {
  .planet-blue {
    left: -30rem;
    height: 50rem;
    width: 40rem;
  }
  .planet-blue2 {
    left: -60rem;
    height: 50rem;
    width: 40rem;
  }
  .planet-blue3 {
    left: -43rem;
    height: 50rem;
    width: 50rem;
  }

  .information {
    overflow: auto;
  }

  .information::-webkit-scrollbar {
    width: 1.2rem;
  }

  .information::-webkit-scrollbar-thumb {
    background: #203967ad;
    border-radius: 2px;
  }

  .information::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
}
